<mat-card fxLayoutAlign="start center">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center">
      <img class="image" src="assets/images/{{name}}.png">

      <div fxLayout="column" fxFlex="100">
        <span class="title"> {{name}} </span>
        <span class="subtitle"> {{universityId}} </span>
      </div>
    </div>
  </div>
</mat-card>


<!-- <mat-card>
    <div fxLayout="row" fxLayoutAlign="start center">
      <img class="image" src="assets/images/{{name}}.png">
      <div fxLayout="column" fxFlex="100">
        <mat-card-title> {{name}} </mat-card-title>
        <mat-card-subtitle> {{universityId}} </mat-card-subtitle>
      </div>
    </div>
</mat-card> -->